mhk-home/system/conf/kleio/.bootstrap_token
mhk-home/system/logs/kleio/*
mhk-home/system/logs/tomcat/*
mhk-home/system/db/mysql/data2/
mhk-home/system/db/mysql/data/
mhk-home/system/db/mhk/
mhk-home/kleio
mhk-home/system/conf/kleio/token_db
.DS_Store
mhk-home/sources/demo_sources/soure/.vscode/spellright.dict
mhk-home/.kleio.json
mhk-home/.kleio.json
