mhk-home/system/conf/kleio/.bootstrap_token
mhk-home/system/logs/tomcat/catalina.2023-01-19.log
mhk-home/system/logs/tomcat/host-manager.2023-01-19.log
mhk-home/system/logs/tomcat/localhost_access_log.2023-01-19.txt
mhk-home/system/logs/tomcat/localhost.2023-01-19.log
mhk-home/system/logs/tomcat/manager.2023-01-19.log
mhk-home/system/db/mysql/data2/aria_log_control
mhk-home/system/db/mysql/data2/aria_log.00000001
mhk-home/system/db/mysql/data2/ddl_recovery.log
mhk-home/system/db/mysql/data2/ib_buffer_pool
mhk-home/system/db/mysql/data2/ib_logfile0
mhk-home/system/db/mysql/data2/ibdata1
mhk-home/system/db/mysql/data2/ibtmp1
mhk-home/system/db/mysql/data2/multi-master.info
mhk-home/system/db/mysql/data2/mysql_upgrade_info
mhk-home/system/db/mysql/data2/mhk/acts.frm
mhk-home/system/db/mysql/data2/mhk/acts.ibd
mhk-home/system/db/mysql/data2/mhk/atr_stats.frm
mhk-home/system/db/mysql/data2/mhk/atr_stats.ibd
mhk-home/system/db/mysql/data2/mhk/attributes.frm
mhk-home/system/db/mysql/data2/mhk/attributes.ibd
mhk-home/system/db/mysql/data2/mhk/cache.frm
mhk-home/system/db/mysql/data2/mhk/cache.ibd
mhk-home/system/db/mysql/data2/mhk/candidates.frm
mhk-home/system/db/mysql/data2/mhk/candidates.ibd
mhk-home/system/db/mysql/data2/mhk/casais.frm
mhk-home/system/db/mysql/data2/mhk/class_attributes.frm
mhk-home/system/db/mysql/data2/mhk/class_attributes.ibd
mhk-home/system/db/mysql/data2/mhk/classes.frm
mhk-home/system/db/mysql/data2/mhk/classes.ibd
mhk-home/system/db/mysql/data2/mhk/cledges.frm
mhk-home/system/db/mysql/data2/mhk/db.opt
mhk-home/system/db/mysql/data2/mhk/edges.frm
mhk-home/system/db/mysql/data2/mhk/edges.ibd
mhk-home/system/db/mysql/data2/mhk/ego_relations.frm
mhk-home/system/db/mysql/data2/mhk/entities.frm
mhk-home/system/db/mysql/data2/mhk/entities.ibd
mhk-home/system/db/mysql/data2/mhk/entitiesindex.frm
mhk-home/system/db/mysql/data2/mhk/entitiesindex.MYD
mhk-home/system/db/mysql/data2/mhk/entitiesindex.MYI
mhk-home/system/db/mysql/data2/mhk/family_triplets_context.frm
mhk-home/system/db/mysql/data2/mhk/family_triplets_context.ibd
mhk-home/system/db/mysql/data2/mhk/family_triplets_named.frm
mhk-home/system/db/mysql/data2/mhk/family_triplets_named.ibd
mhk-home/system/db/mysql/data2/mhk/family_triplets.frm
mhk-home/system/db/mysql/data2/mhk/family_triplets.ibd
mhk-home/system/db/mysql/data2/mhk/func_stats.frm
mhk-home/system/db/mysql/data2/mhk/func_stats.ibd
mhk-home/system/db/mysql/data2/mhk/geoentities.frm
mhk-home/system/db/mysql/data2/mhk/geoentities.ibd
mhk-home/system/db/mysql/data2/mhk/geometries_entities.frm
mhk-home/system/db/mysql/data2/mhk/geometries_entities.ibd
mhk-home/system/db/mysql/data2/mhk/geometries.frm
mhk-home/system/db/mysql/data2/mhk/geometries.ibd
mhk-home/system/db/mysql/data2/mhk/import_time.frm
mhk-home/system/db/mysql/data2/mhk/inrelations.frm
mhk-home/system/db/mysql/data2/mhk/inrels.frm
mhk-home/system/db/mysql/data2/mhk/irelations.frm
mhk-home/system/db/mysql/data2/mhk/irels.frm
mhk-home/system/db/mysql/data2/mhk/lcandidates.frm
mhk-home/system/db/mysql/data2/mhk/ledges.frm
mhk-home/system/db/mysql/data2/mhk/ledges.ibd
mhk-home/system/db/mysql/data2/mhk/lgraphs.frm
mhk-home/system/db/mysql/data2/mhk/lgraphs.ibd
mhk-home/system/db/mysql/data2/mhk/link_queue.frm
mhk-home/system/db/mysql/data2/mhk/link_queue.ibd
mhk-home/system/db/mysql/data2/mhk/linklog.frm
mhk-home/system/db/mysql/data2/mhk/linklog.ibd
mhk-home/system/db/mysql/data2/mhk/links.frm
mhk-home/system/db/mysql/data2/mhk/links.ibd
mhk-home/system/db/mysql/data2/mhk/lpersons.frm
mhk-home/system/db/mysql/data2/mhk/nattributes.frm
mhk-home/system/db/mysql/data2/mhk/ncandidates.frm
mhk-home/system/db/mysql/data2/mhk/nfuncs.frm
mhk-home/system/db/mysql/data2/mhk/nledges.frm
mhk-home/system/db/mysql/data2/mhk/nlink_queue.frm
mhk-home/system/db/mysql/data2/mhk/nlinklog.frm
mhk-home/system/db/mysql/data2/mhk/nodes.frm
mhk-home/system/db/mysql/data2/mhk/nodes.ibd
mhk-home/system/db/mysql/data2/mhk/nrelations.frm
mhk-home/system/db/mysql/data2/mhk/nrels.frm
mhk-home/system/db/mysql/data2/mhk/nscratch.frm
mhk-home/system/db/mysql/data2/mhk/objects.frm
mhk-home/system/db/mysql/data2/mhk/objects.ibd
mhk-home/system/db/mysql/data2/mhk/occurrences.frm
mhk-home/system/db/mysql/data2/mhk/occurrences.ibd
mhk-home/system/db/mysql/data2/mhk/persons.frm
mhk-home/system/db/mysql/data2/mhk/persons.ibd
mhk-home/system/db/mysql/data2/mhk/place_stats.frm
mhk-home/system/db/mysql/data2/mhk/place_stats.ibd
mhk-home/system/db/mysql/data2/mhk/rcandidates.frm
mhk-home/system/db/mysql/data2/mhk/rel_equivalences.frm
mhk-home/system/db/mysql/data2/mhk/rel_equivalences.ibd
mhk-home/system/db/mysql/data2/mhk/rel_stats.frm
mhk-home/system/db/mysql/data2/mhk/rel_stats.ibd
mhk-home/system/db/mysql/data2/mhk/relations.frm
mhk-home/system/db/mysql/data2/mhk/relations.ibd
mhk-home/system/db/mysql/data2/mhk/rentities.frm
mhk-home/system/db/mysql/data2/mhk/rentities.ibd
mhk-home/system/db/mysql/data2/mhk/rgeoentities.frm
mhk-home/system/db/mysql/data2/mhk/rgeoentities.ibd
mhk-home/system/db/mysql/data2/mhk/rirels.frm
mhk-home/system/db/mysql/data2/mhk/rlinks.frm
mhk-home/system/db/mysql/data2/mhk/rnfuncs.frm
mhk-home/system/db/mysql/data2/mhk/robjects.frm
mhk-home/system/db/mysql/data2/mhk/robjects.ibd
mhk-home/system/db/mysql/data2/mhk/rperson_inrelations.frm
mhk-home/system/db/mysql/data2/mhk/rperson_nrelations.frm
mhk-home/system/db/mysql/data2/mhk/rperson_relations.frm
mhk-home/system/db/mysql/data2/mhk/rpersons_to_lgraphs.frm
mhk-home/system/db/mysql/data2/mhk/rpersons.frm
mhk-home/system/db/mysql/data2/mhk/rpersons.ibd
mhk-home/system/db/mysql/data2/mhk/rrirels.frm
mhk-home/system/db/mysql/data2/mhk/scratch.frm
mhk-home/system/db/mysql/data2/mhk/scratch.ibd
mhk-home/system/db/mysql/data2/mhk/sources.frm
mhk-home/system/db/mysql/data2/mhk/sources.ibd
mhk-home/system/db/mysql/data2/mhk/syslog.frm
mhk-home/system/db/mysql/data2/mhk/syslog.ibd
mhk-home/system/db/mysql/data2/mhk/sysout.frm
mhk-home/system/db/mysql/data2/mhk/sysout.ibd
mhk-home/system/db/mysql/data2/mhk/syspar.frm
mhk-home/system/db/mysql/data2/mhk/syspar.ibd
mhk-home/system/db/mysql/data2/mhk/tobelinked.frm
mhk-home/system/db/mysql/data2/mhk/tobelinked.ibd
mhk-home/system/db/mysql/data2/mhk_users/comments.frm
mhk-home/system/db/mysql/data2/mhk_users/comments.MYD
mhk-home/system/db/mysql/data2/mhk_users/comments.MYI
mhk-home/system/db/mysql/data2/mhk_users/databases.frm
mhk-home/system/db/mysql/data2/mhk_users/databases.MYD
mhk-home/system/db/mysql/data2/mhk_users/databases.MYI
mhk-home/system/db/mysql/data2/mhk_users/db.opt
mhk-home/system/db/mysql/data2/mhk_users/users.frm
mhk-home/system/db/mysql/data2/mhk_users/users.MYD
mhk-home/system/db/mysql/data2/mhk_users/users.MYI
mhk-home/system/db/mysql/data2/mysql/column_stats.frm
mhk-home/system/db/mysql/data2/mysql/column_stats.MAD
mhk-home/system/db/mysql/data2/mysql/column_stats.MAI
mhk-home/system/db/mysql/data2/mysql/columns_priv.frm
mhk-home/system/db/mysql/data2/mysql/columns_priv.MAD
mhk-home/system/db/mysql/data2/mysql/columns_priv.MAI
mhk-home/system/db/mysql/data2/mysql/db.frm
mhk-home/system/db/mysql/data2/mysql/db.MAD
mhk-home/system/db/mysql/data2/mysql/db.MAI
mhk-home/system/db/mysql/data2/mysql/db.opt
mhk-home/system/db/mysql/data2/mysql/event.frm
mhk-home/system/db/mysql/data2/mysql/event.MAD
mhk-home/system/db/mysql/data2/mysql/event.MAI
mhk-home/system/db/mysql/data2/mysql/func.frm
mhk-home/system/db/mysql/data2/mysql/func.MAD
mhk-home/system/db/mysql/data2/mysql/func.MAI
mhk-home/system/db/mysql/data2/mysql/general_log.CSM
mhk-home/system/db/mysql/data2/mysql/general_log.CSV
mhk-home/system/db/mysql/data2/mysql/general_log.frm
mhk-home/system/db/mysql/data2/mysql/global_priv.frm
mhk-home/system/db/mysql/data2/mysql/global_priv.MAD
mhk-home/system/db/mysql/data2/mysql/global_priv.MAI
mhk-home/system/db/mysql/data2/mysql/gtid_slave_pos.frm
mhk-home/system/db/mysql/data2/mysql/gtid_slave_pos.ibd
mhk-home/system/db/mysql/data2/mysql/help_category.frm
mhk-home/system/db/mysql/data2/mysql/help_category.MAD
mhk-home/system/db/mysql/data2/mysql/help_category.MAI
mhk-home/system/db/mysql/data2/mysql/help_keyword.frm
mhk-home/system/db/mysql/data2/mysql/help_keyword.MAD
mhk-home/system/db/mysql/data2/mysql/help_keyword.MAI
mhk-home/system/db/mysql/data2/mysql/help_relation.frm
mhk-home/system/db/mysql/data2/mysql/help_relation.MAD
mhk-home/system/db/mysql/data2/mysql/help_relation.MAI
mhk-home/system/db/mysql/data2/mysql/help_topic.frm
mhk-home/system/db/mysql/data2/mysql/help_topic.MAD
mhk-home/system/db/mysql/data2/mysql/help_topic.MAI
mhk-home/system/db/mysql/data2/mysql/index_stats.frm
mhk-home/system/db/mysql/data2/mysql/index_stats.MAD
mhk-home/system/db/mysql/data2/mysql/index_stats.MAI
mhk-home/system/db/mysql/data2/mysql/innodb_index_stats.frm
mhk-home/system/db/mysql/data2/mysql/innodb_index_stats.ibd
mhk-home/system/db/mysql/data2/mysql/innodb_table_stats.frm
mhk-home/system/db/mysql/data2/mysql/innodb_table_stats.ibd
mhk-home/system/db/mysql/data2/mysql/plugin.frm
mhk-home/system/db/mysql/data2/mysql/plugin.MAD
mhk-home/system/db/mysql/data2/mysql/plugin.MAI
mhk-home/system/db/mysql/data2/mysql/proc.frm
mhk-home/system/db/mysql/data2/mysql/proc.MAD
mhk-home/system/db/mysql/data2/mysql/proc.MAI
mhk-home/system/db/mysql/data2/mysql/procs_priv.frm
mhk-home/system/db/mysql/data2/mysql/procs_priv.MAD
mhk-home/system/db/mysql/data2/mysql/procs_priv.MAI
mhk-home/system/db/mysql/data2/mysql/proxies_priv.frm
mhk-home/system/db/mysql/data2/mysql/proxies_priv.MAD
mhk-home/system/db/mysql/data2/mysql/proxies_priv.MAI
mhk-home/system/db/mysql/data2/mysql/roles_mapping.frm
mhk-home/system/db/mysql/data2/mysql/roles_mapping.MAD
mhk-home/system/db/mysql/data2/mysql/roles_mapping.MAI
mhk-home/system/db/mysql/data2/mysql/servers.frm
mhk-home/system/db/mysql/data2/mysql/servers.MAD
mhk-home/system/db/mysql/data2/mysql/servers.MAI
mhk-home/system/db/mysql/data2/mysql/slow_log.CSM
mhk-home/system/db/mysql/data2/mysql/slow_log.CSV
mhk-home/system/db/mysql/data2/mysql/slow_log.frm
mhk-home/system/db/mysql/data2/mysql/table_stats.frm
mhk-home/system/db/mysql/data2/mysql/table_stats.MAD
mhk-home/system/db/mysql/data2/mysql/table_stats.MAI
mhk-home/system/db/mysql/data2/mysql/tables_priv.frm
mhk-home/system/db/mysql/data2/mysql/tables_priv.MAD
mhk-home/system/db/mysql/data2/mysql/tables_priv.MAI
mhk-home/system/db/mysql/data2/mysql/time_zone_leap_second.frm
mhk-home/system/db/mysql/data2/mysql/time_zone_leap_second.MAD
mhk-home/system/db/mysql/data2/mysql/time_zone_leap_second.MAI
mhk-home/system/db/mysql/data2/mysql/time_zone_name.frm
mhk-home/system/db/mysql/data2/mysql/time_zone_name.MAD
mhk-home/system/db/mysql/data2/mysql/time_zone_name.MAI
mhk-home/system/db/mysql/data2/mysql/time_zone_transition_type.frm
mhk-home/system/db/mysql/data2/mysql/time_zone_transition_type.MAD
mhk-home/system/db/mysql/data2/mysql/time_zone_transition_type.MAI
mhk-home/system/db/mysql/data2/mysql/time_zone_transition.frm
mhk-home/system/db/mysql/data2/mysql/time_zone_transition.MAD
mhk-home/system/db/mysql/data2/mysql/time_zone_transition.MAI
mhk-home/system/db/mysql/data2/mysql/time_zone.frm
mhk-home/system/db/mysql/data2/mysql/time_zone.MAD
mhk-home/system/db/mysql/data2/mysql/time_zone.MAI
mhk-home/system/db/mysql/data2/mysql/transaction_registry.frm
mhk-home/system/db/mysql/data2/mysql/transaction_registry.ibd
mhk-home/system/db/mysql/data2/mysql/user.frm
mhk-home/system/db/mysql/data2/performance_schema/db.opt
mhk-home/system/db/mysql/data2/sys/db.opt
mhk-home/system/db/mysql/data2/sys/host_summary_by_file_io_type.frm
mhk-home/system/db/mysql/data2/sys/host_summary_by_file_io.frm
mhk-home/system/db/mysql/data2/sys/host_summary_by_stages.frm
mhk-home/system/db/mysql/data2/sys/host_summary_by_statement_latency.frm
mhk-home/system/db/mysql/data2/sys/host_summary_by_statement_type.frm
mhk-home/system/db/mysql/data2/sys/host_summary.frm
mhk-home/system/db/mysql/data2/sys/innodb_buffer_stats_by_schema.frm
mhk-home/system/db/mysql/data2/sys/innodb_buffer_stats_by_table.frm
mhk-home/system/db/mysql/data2/sys/innodb_lock_waits.frm
mhk-home/system/db/mysql/data2/sys/io_by_thread_by_latency.frm
mhk-home/system/db/mysql/data2/sys/io_global_by_file_by_bytes.frm
mhk-home/system/db/mysql/data2/sys/io_global_by_file_by_latency.frm
mhk-home/system/db/mysql/data2/sys/io_global_by_wait_by_bytes.frm
mhk-home/system/db/mysql/data2/sys/io_global_by_wait_by_latency.frm
mhk-home/system/db/mysql/data2/sys/latest_file_io.frm
mhk-home/system/db/mysql/data2/sys/memory_by_host_by_current_bytes.frm
mhk-home/system/db/mysql/data2/sys/memory_by_thread_by_current_bytes.frm
mhk-home/system/db/mysql/data2/sys/memory_by_user_by_current_bytes.frm
mhk-home/system/db/mysql/data2/sys/memory_global_by_current_bytes.frm
mhk-home/system/db/mysql/data2/sys/memory_global_total.frm
mhk-home/system/db/mysql/data2/sys/metrics.frm
mhk-home/system/db/mysql/data2/sys/processlist.frm
mhk-home/system/db/mysql/data2/sys/ps_check_lost_instrumentation.frm
mhk-home/system/db/mysql/data2/sys/schema_auto_increment_columns.frm
mhk-home/system/db/mysql/data2/sys/schema_index_statistics.frm
mhk-home/system/db/mysql/data2/sys/schema_object_overview.frm
mhk-home/system/db/mysql/data2/sys/schema_redundant_indexes.frm
mhk-home/system/db/mysql/data2/sys/schema_table_lock_waits.frm
mhk-home/system/db/mysql/data2/sys/schema_table_statistics_with_buffer.frm
mhk-home/system/db/mysql/data2/sys/schema_table_statistics.frm
mhk-home/system/db/mysql/data2/sys/schema_tables_with_full_table_scans.frm
mhk-home/system/db/mysql/data2/sys/schema_unused_indexes.frm
mhk-home/system/db/mysql/data2/sys/session_ssl_status.frm
mhk-home/system/db/mysql/data2/sys/session.frm
mhk-home/system/db/mysql/data2/sys/statement_analysis.frm
mhk-home/system/db/mysql/data2/sys/statements_with_errors_or_warnings.frm
mhk-home/system/db/mysql/data2/sys/statements_with_full_table_scans.frm
mhk-home/system/db/mysql/data2/sys/statements_with_runtimes_in_95th_percentile.frm
mhk-home/system/db/mysql/data2/sys/statements_with_sorting.frm
mhk-home/system/db/mysql/data2/sys/statements_with_temp_tables.frm
mhk-home/system/db/mysql/data2/sys/sys_config.frm
mhk-home/system/db/mysql/data2/sys/sys_config.MAD
mhk-home/system/db/mysql/data2/sys/sys_config.MAI
mhk-home/system/db/mysql/data2/sys/user_summary_by_file_io_type.frm
mhk-home/system/db/mysql/data2/sys/user_summary_by_file_io.frm
mhk-home/system/db/mysql/data2/sys/user_summary_by_stages.frm
mhk-home/system/db/mysql/data2/sys/user_summary_by_statement_latency.frm
mhk-home/system/db/mysql/data2/sys/user_summary_by_statement_type.frm
mhk-home/system/db/mysql/data2/sys/user_summary.frm
mhk-home/system/db/mysql/data2/sys/version.frm
mhk-home/system/db/mysql/data2/sys/wait_classes_global_by_avg_latency.frm
mhk-home/system/db/mysql/data2/sys/wait_classes_global_by_latency.frm
mhk-home/system/db/mysql/data2/sys/waits_by_host_by_latency.frm
mhk-home/system/db/mysql/data2/sys/waits_by_user_by_latency.frm
mhk-home/system/db/mysql/data2/sys/waits_global_by_latency.frm
mhk-home/system/db/mysql/data2/sys/x@0024host_summary_by_file_io_type.frm
mhk-home/system/db/mysql/data2/sys/x@0024host_summary_by_file_io.frm
mhk-home/system/db/mysql/data2/sys/x@0024host_summary_by_stages.frm
mhk-home/system/db/mysql/data2/sys/x@0024host_summary_by_statement_latency.frm
mhk-home/system/db/mysql/data2/sys/x@0024host_summary_by_statement_type.frm
mhk-home/system/db/mysql/data2/sys/x@0024host_summary.frm
mhk-home/system/db/mysql/data2/sys/x@0024innodb_buffer_stats_by_schema.frm
mhk-home/system/db/mysql/data2/sys/x@0024innodb_buffer_stats_by_table.frm
mhk-home/system/db/mysql/data2/sys/x@0024innodb_lock_waits.frm
mhk-home/system/db/mysql/data2/sys/x@0024io_by_thread_by_latency.frm
mhk-home/system/db/mysql/data2/sys/x@0024io_global_by_file_by_bytes.frm
mhk-home/system/db/mysql/data2/sys/x@0024io_global_by_file_by_latency.frm
mhk-home/system/db/mysql/data2/sys/x@0024io_global_by_wait_by_bytes.frm
mhk-home/system/db/mysql/data2/sys/x@0024io_global_by_wait_by_latency.frm
mhk-home/system/db/mysql/data2/sys/x@0024latest_file_io.frm
mhk-home/system/db/mysql/data2/sys/x@0024memory_by_host_by_current_bytes.frm
mhk-home/system/db/mysql/data2/sys/x@0024memory_by_thread_by_current_bytes.frm
mhk-home/system/db/mysql/data2/sys/x@0024memory_by_user_by_current_bytes.frm
mhk-home/system/db/mysql/data2/sys/x@0024memory_global_by_current_bytes.frm
mhk-home/system/db/mysql/data2/sys/x@0024memory_global_total.frm
mhk-home/system/db/mysql/data2/sys/x@0024processlist.frm
mhk-home/system/db/mysql/data2/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
mhk-home/system/db/mysql/data2/sys/x@0024ps_digest_avg_latency_distribution.frm
mhk-home/system/db/mysql/data2/sys/x@0024ps_schema_table_statistics_io.frm
mhk-home/system/db/mysql/data2/sys/x@0024schema_flattened_keys.frm
mhk-home/system/db/mysql/data2/sys/x@0024schema_index_statistics.frm
mhk-home/system/db/mysql/data2/sys/x@0024schema_table_lock_waits.frm
mhk-home/system/db/mysql/data2/sys/x@0024schema_table_statistics_with_buffer.frm
mhk-home/system/db/mysql/data2/sys/x@0024schema_table_statistics.frm
mhk-home/system/db/mysql/data2/sys/x@0024schema_tables_with_full_table_scans.frm
mhk-home/system/db/mysql/data2/sys/x@0024session.frm
mhk-home/system/db/mysql/data2/sys/x@0024statement_analysis.frm
mhk-home/system/db/mysql/data2/sys/x@0024statements_with_errors_or_warnings.frm
mhk-home/system/db/mysql/data2/sys/x@0024statements_with_full_table_scans.frm
mhk-home/system/db/mysql/data2/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
mhk-home/system/db/mysql/data2/sys/x@0024statements_with_sorting.frm
mhk-home/system/db/mysql/data2/sys/x@0024statements_with_temp_tables.frm
mhk-home/system/db/mysql/data2/sys/x@0024user_summary_by_file_io_type.frm
mhk-home/system/db/mysql/data2/sys/x@0024user_summary_by_file_io.frm
mhk-home/system/db/mysql/data2/sys/x@0024user_summary_by_stages.frm
mhk-home/system/db/mysql/data2/sys/x@0024user_summary_by_statement_latency.frm
mhk-home/system/db/mysql/data2/sys/x@0024user_summary_by_statement_type.frm
mhk-home/system/db/mysql/data2/sys/x@0024user_summary.frm
mhk-home/system/db/mysql/data2/sys/x@0024wait_classes_global_by_avg_latency.frm
mhk-home/system/db/mysql/data2/sys/x@0024wait_classes_global_by_latency.frm
mhk-home/system/db/mysql/data2/sys/x@0024waits_by_host_by_latency.frm
mhk-home/system/db/mysql/data2/sys/x@0024waits_by_user_by_latency.frm
mhk-home/system/db/mysql/data2/sys/x@0024waits_global_by_latency.frm
mhk-home/system/db/mysql/init/mhk__users_database_create.sql
mhk-home/kleio/logs/kleio_service.log
