mhk-home/system/conf/kleio/.bootstrap_token
mhk-home/system/logs
mhk-home/system/db/mysql/data2/
mhk-home/system/db/mysql/data/
mhk-home/system/db/mhk/
mhk-home/kleio
mhk-home/system/conf/kleio/token_db
